article {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
}

.author {
    font-weight: bold;
    color: silver;
}

time {
    font-style: italic;
    color: #666;
}