h1, h2, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #333;
}

header, section, footer {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

nav a:hover, section a:hover, footer a:hover {
    color: red;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
}